@import "tailwindcss";

/* Hide scrollbar while keeping horizontal scroll behavior */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

